In [1]:
#1 find number divisible by 7 and multiple of 5 between 1500 and 2700
a=[]
for i in range(1500,2701):
    if(i%7==0 and i%5==0):
        a.append(str(i))
print(",".join(a))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [6]:
#2 program to convert temperature to and from celsius,fahrenheit
celsius=float(input("enter temperature in celsius:"))
fahrenheit=(celsius*1.8)+32
print("temp in F:",fahrenheit)
              
fahrenheit=float(input("enter temperature in fahrenheit"))
celsius=(fahrenheit-32)/1.8
print(celsius)

enter temperature in celsius:60
temp in F: 140.0
enter temperature in fahrenheit45
7.222222222222222

In [16]:
#3 program to guess number betn 1 to 9
a=int(input("enter your guess number:"))
if(a>9) or (a<1):
    a=int(input("try another number:"))
else:
    print("well guessed:",a)

enter your guess number:12
try another number:4

In [17]:
#5program accept word from user and reverse it
word=input("enter string:")
reverse=word[::-1]
print(reverse)

enter string:hello everyone
enoyreve olleh

In [9]:
#6 count number of even and oddd from series of number
series=[1,2,3,4,5,6,7,8,9]
even=0
a=[]
odd=0
b=[]
for i in series:
    if i%2==0:
        even+=1
        a.append(str(i))
        print(",".join(a))
    else:
        odd+=1
        b.append(str(i))
        print(",".join(b))
print("even number in list:", even)
print("odd number in list:", odd)

1
2
1,3
2,4
1,3,5
2,4,6
1,3,5,7
2,4,6,8
1,3,5,7,9
even number in list: 4
odd number in list: 5

In [10]:
#7 print each item and its corresponding type from list
datalist = [1452, 11.53, 1+2j, True, 'w3resource', (0, -1), [5, 8], {"class": 'V', "section": 'A'}]
for i in datalist:
    print(i, "datatype is:", type(i))

1452 datatype is: <class 'int'>
11.53 datatype is: <class 'float'>
(1+2j) datatype is: <class 'complex'>
True datatype is: <class 'bool'>
w3resource datatype is: <class 'str'>
(0, -1) datatype is: <class 'tuple'>
[5, 8] datatype is: <class 'list'>
{'class': 'V', 'section': 'A'} datatype is: <class 'dict'>

In [8]:
#8  print all number from 0 to 6 except 3 and 6
for i in range(6):
    if(i==3 or i==6):
        continue
    print(i,end=" ")

0 1 2 4 5

In [11]:
#fibonacci number
def fibonacci(n):
    a,b=0,1
    while(a<n):
        print(a,end=",")
        a,b=b,a+b
print(fibonacci(50))

0,1,1,2,3,5,8,13,21,34,None

In [12]:
a,b=0,1
while(a<50):
    print(a,end=",")
    a,b=b,a+b

0,1,1,2,3,5,8,13,21,34,

In [13]:
#iterate from 1 to 50 fizzbuzz if divisible by 3and5 and only with 3 fizz only with 5 buzz
for i in range(1,51):
    if i%3==0 and i%5==0:
        print(i,"=fizzbuzz")
    elif i%3==0:
        print(i,"=fizz")
    elif i%5==0:
        print(i,"=buzz")
    else:
        print(i)

1
2
3 =fizz
4
5 =buzz
6 =fizz
7
8
9 =fizz
10 =buzz
11
12 =fizz
13
14
15 =fizzbuzz
16
17
18 =fizz
19
20 =buzz
21 =fizz
22
23
24 =fizz
25 =buzz
26
27 =fizz
28
29
30 =fizzbuzz
31
32
33 =fizz
34
35 =buzz
36 =fizz
37
38
39 =fizz
40 =buzz
41
42 =fizz
43
44
45 =fizzbuzz
46
47
48 =fizz
49
50 =buzz

In [29]:
#2 digit input and generate 2Darray
row=int(input("enter number of row:"))
col=int(input("enter number of col:"))
Array=[[0 for r in range(row)]for c in range(col)]


print(Array)

enter number of row:3
enter number of col:4
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [34]:
#sequence of line as input and print output in lowercase.
line=[]
while True:
    l=input()
    if l:
       
        line.append(l.lower())
    else:
        break;
for l in line:
    print(l)

AHBDsjdsdYYkFXEAAS

ahbdsjdsdyykfxeaas

In [10]:
list=[]
N=[i for i in input().split(',')]
for x in N:
    i=int(x,2)
    if not i%5:
        list.append(x)
print(",".join(list))

1000,1001,1010,1011,0101,0100,0111,0110
1010,0101

In [11]:
#accept string and calculate no. of letter and digit
a=input("enter string:")
digit=alphabet=0
for i in a:
    if i.isdigit():
        digit+=1
    elif i.isalpha():
        alphabet+=1
    else:
        pass
print(alphabet,digit)

enter string:Hello 450 world is nice and fi9
21 4

In [5]:
# each digit of number is even including 100 and 400
number=[]

for i in range(100,401):
    s=str(i)
    if(int (s[0])%2==0 and int (s[1])%2==0 and int (s[2])%2==0):
        number.append(s)
print(",".join(number))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [6]:
# calculate dogs age in dogs year
human=int(input("enter dog age in human year:"))

if human<0:
    print("age is positive")
    exit()
elif human<=2:
    dog=human*10.5
else:
    dog=21+(human-2)*4
print("dogs age as dogs year:",dog)

enter dog age in human year:5
dogs age as dogs year: 33

In [7]:
# check wheather an alphabet is vowel or consonant
alphabet=input("enter an alphabet:")
if alphabet in ('a','A','e','E','i','I','o','O','u','U'):
    print("Alphabet is vowel",alphabet)
else:
    print("Alphabet is consonant",alphabet)

enter an alphabet:v
Alphabet is consonant v

In [9]:
# month name to no.of days
month=input("enter name of month:")


if month=='february':
    print('no. of days 28/29')
elif month in ('april','june','september','november'):
    print('no. of days 30')
else:
    print('no of days 31')

enter name of month:december
no of days 31

In [11]:
# sum of two given integer and if sum is between 15 to 20 return 20
def sum(x,y):
    sum=x+y
    if sum>=15:
        return 20
    else:
        return sum
print(sum(8,8))
print(sum(3,8))
print(sum(7,8))

20
11
20

In [12]:
# string represent integer or not
string=input("enter a string")
string=string.strip()
if(len(string))<1:
    print("insufficient string")
else:
    if all( string[i] in '01234456789' for i in range (len(string))):
        print('string is integer')
    elif (string[0] in '+-'and all string[i] in '0123456789' for i in range(1,len(string))):
        print('string is integer')
    else:
        print('string is non integer')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (70794518.py, line 9)

In [13]:
#triangle isoceles,equilateral or scalene
x=int(input('1 side of triangle:'))
y=int(input('2 side of triangle'))
z=int(input('3 side of triangle'))
if(x==y==z):
    print('triangle is equilateral')
elif (x==y or y==z or z==x):
    print('triangle is isoceles')
else:
    print('triangle is scalene')

1 side of triangle:23
2 side of triangle43
3 side of triangle54
triangle is scalene

In [15]:
# median
x=float(input('enter value1:'))
y=float(input('enter value2:'))
z=float(input('enter value3:'))
if x>y:
    if x<z:
        median=x
    elif y>z:
        median=y
    else:
        medianz
else:
    if x>z:
        median=x
    elif y<z:
        median=y
    else:
        median=z
print(median)

enter value1:61
enter value2:34
enter value3:72
61.0

In [20]:
# next day of given date
year=int(input('enter year'))
month=int(input('enter month number'))
if month in (4,6,9,11):
    monthday=30
elif month==2:
    if year%4==0:
        monthday=29
    else:
        monthday=28
else:
    monthday=31
    
date=int(input('enter date'))
if date<monthday:
    date+=1
else:
    date=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print('next date is %d-%d-%d' %(year,month,date))

enter year2023
enter month number12
enter date31
next date is 2024-1-1

In [31]:
#sum and average of integer
l=[1,3,5,7,9,2,4,6,8]
count=0
for i in l:
    count+=i
    aug=count/len(l)
print('sum=',count,'and average=',aug)

sum= 45 and average= 5.0

In [33]:
# multiplication table
a=int(input('enter the number:'))
for i in range(1,11):
    print(a,'x',i,'=',a*i)

enter the number:15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [34]:
#construct the pattern using nested loop
for i in range(10):
    print(i*str(i))

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
#odd even using recursion